extends ../layout

block content
  .row
    .col-md-8
    .col-md-4.text-right
      a(href="/users/index").btn.btn-primary.mright-15 查看首页
      a(href="/admin/index").btn.btn-primary 返回
      
  .row
    .col-md-12
      .caption.text-center
        h3 个人简历
    
  
  //导入用户处理脚本
  //- script(src="/javascripts/admin_resume.js")