extends ../layout

block content
  h3.text-center 规则添加
  br
  .container
    .row
      form.form-horizontal(method="POST" action="tkdRuelAdd" name='userform')
        .form-group
          label.col-md-2.control-label 标题
          .col-md-8
            input(type="text" id="title" name="title").form-control
        .form-group
          label.col-md-2.control-label 简介
          .col-md-8
            input(type="text" id="desc" name="desc").form-control
        .form-group
          label.col-md-2.control-label 图标
          .col-md-8
            input(type="file" id="ico" name="ico").form-control
        .form-group
          label.col-md-2.control-label 详情
          .col-md-8
            textarea(id="content" name="content").form-control

        .form-group
          .col-md-1.col-md-offset-2
            button(type="submit").btn.btn-primary 提交添加
          .col-md-2
            a(href="/admin/tkd").btn.btn-primary 返回
  
