extends ../layout

block content
  include header
  //- 主页面 
  .mainmenu.main-panel#mainmenu
    .menu-nav.row
      ul.nav.nav-tabs(role="tablist")
        li.active.col-md-3(id="menu-rule")
          a(href="#rule" data-toggle="tab") 规则
        li.col-md-3(id="menu-card")
          a(href="#card" data-toggle="tab") 游戏牌
        li.col-md-3(id="menu-heros")
          a(href="#heros" data-toggle="tab") 武将
        li.col-md-3(id="menu-str")
          a(href="#strategy" data-toggle="tab") 攻略

    //- 规则组合
    .tab-content
      .list-group.tab-pane(class="fade in active item-list" id="rule") 
        table.table.table-bordered
          thead
            tr
              th 标题
              th 内容简介
              th 图标路径
              th 更新
              th 删除
          tbody
            tr
              td 1V1规则
              td 1v1对战模式是以三国杀基本规则...
              td images/caobei.png
              td 
                a.link(href="/admin/tkd/updateRule") 更新
              td
                a(data-id='removeRule' class="removeRule").btn.btn-danger 删除

            input(type='hidden' value='' id='selectId')

        a(href="/admin/tkd/addRule").btn.btn-primary 添加 


      .tab-pane(class="fade item-list" id="card") 卡牌内容
      .tab-pane(class="fade item-list" id="heros") 武将内容
      .tab-pane(class="fade item-list" id="strategy") 攻略内容


    //删除提示弹出框
    .modal(id='removeConfirm')
      .modal-dialog
        .modal-content
          .modal-header
            button(type="button" data-dismiss="modal").close
              span(aria-hidden="true") &times;
              span.sr-only Close
            h4.modal-title 删除提示
          
          .modal-body
            p(id='removeTips') 确定要删除该用户吗？
          
          .modal-footer
            button(type="button" data-dismiss="modal" id="cancelRemove").btn.btn-default 关闭
            button(type="button" id="removeSubmit").btn.btn-primary 确定


  //导入用户处理脚本
  script(src="/javascripts/tkd.js")