doctype html
html.js.no-touch.js.csstransitions.js.csstransitions.js(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    title 个人简历
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='a resume')
    meta(name='author', content='Designova xq')
    
    // 项目加载样式
    link(href='/components/bootstrap.min.css', rel='stylesheet')
    link(href='/components/bootstrap-theme.min.css', rel='stylesheet')
    link(href='/stylesheets/resume_index.css', rel='stylesheet')
    link(href='/components/responsive-nav.css', rel='stylesheet')
    link(href='/components/prettyPhoto.css', rel='stylesheet')
    link(href='/components/animate.css', rel='stylesheet')
    link(href='/components/jquery.easy-pie-chart.css', rel='stylesheet')
    link(href='/components/slidingmenu.css', rel='stylesheet')
    link(href='/components/font-awesome.min.css', rel='stylesheet')
    //- http://www.cnblogs.com/NetSos/archive/2012/03/26/2418053.html  检测浏览器支持功能
    script(src='/components/modernizr.custom.menu.js')
    script(src='/components/modernizr.custom.quotes.js')
    script(src='/components/modernizr.custom.services.js')
    //if lt IE 9
      script(src='/components/html5.js')
      //- link(href='stylesheets/ie8.css', rel='stylesheet')
  body(style='overflow-y: auto;')
    #preloader
      #status
    // 手机菜单页
    nav#sm.menu.visible-xs
      .sm-wrap
        h1.sm-logo next
        i.icon-remove.menu-close
        a.scroll-link(data-soffset='0', href='#welcome') 首页
        a.scroll-link(data-soffset='0', href='#about') 个人简介
        a.scroll-link(data-soffset='0', href='#portfolio') 项目简介
        a.scroll-link(data-soffset='0', href='#services') 联系方式
        a.scroll-link(data-soffset='0', href='#contact') 我的好友
      // Navigation Trigger Button
      #sm-trigger
    
    // PC 高级浏览器菜单页
    section#mastwrap.sliding
      #sidebar-nav.sq-side-menu.hidden-xs.show-nav
        ul
          li.next-bg-six
            a#home-link.scroll-link.sq-active(href='#welcome', data-soffset='0')
              .first
                .arrow-right
                .content
                  img(alt='', title='', src='/resume_src/00.png')
              .second
                .arrow-left
                .content 首页
          li.next-bg-two
            a#about-link.scroll-link(href='#about', data-soffset='0')
              .first
                .arrow-right
                .content
                  img(alt='', title='', src='/resume_src/01.png')
              .second
                .arrow-left
                .content 个人简介
          li.next-bg-five
            a#portfolio-link.scroll-link(href='#portfolio', data-soffset='0')
              .first
                .arrow-right
                .content
                  img(alt='', title='', src='/resume_src/06.png')
              .second
                .arrow-left
                .content 项目简介
          li.next-bg-three
            a#contact-link.scroll-link(href='#contact', data-soffset='0')
              .first
                .arrow-right
                .content
                  img(alt='', title='', src='/resume_src/05.png')
              .second
                .arrow-left
                .content 联系方式
          li.next-bg-one
            a#friend-link.scroll-link(href='#testimonials', data-soffset='0')
              .first
                .arrow-right
                .content
                  img(alt='', title='', src='/resume_src/02.png')
              .second
                .arrow-left
                .content 我的好友
        
      // HOME : 首页
      section#welcome.clearfix.home2(data-stellar-background-ratio='1.7', style='min-height: 643px; background-position: 50% 50%;')
        section.container
          .row
            article.col-md-12
              h2(style='margin-top: 160.75px;')
                | 欢迎来到 
                br
                br
                |               肖志强的主页
              h3 技能关键字
              .ticker-wrap
                #news_ticker
                  ul.ticker-list
                    li
                      a(href='http://www.w3school.com.cn/html5/index.asp' target='_blank') html5
                    li
                      a(href='http://jquery.com/' target='_blank') jquery
                    li
                      a(href='https://nodejs.org/' target='_blank') nodejs
                    li
                      a(href='http://www.w3school.com.cn/js/index.asp' target='_blank') javascript
                    li
                      a(href='http://www.apjs.net/' target='_blank') angularjs
      
      // ABOUT : 个人简介
      section#about.page-section.navigation-fadeIn
        section.container
          .row
            article.col-md-12.text-left
              h2.page-heading 个人简介
              .liner
                span
          .row.add-top
            article.col-md-12.text-left
              p.welcome-text.fx.fx-rollIn.animated.rollIn
                | 我是肖志强,软件工程专业，喜欢前端、2年前端工作经验, 最近捣鼓 nodejs、angularjs、reactjs
          .row.add-top
            article.col-md-3.col-xs-6.text-center.skill-wrap
              .chart1(data-percent='85')
                | 85%
                span jquery
            article.col-md-3.col-xs-6.text-center.skill-wrap
              .chart2(data-percent='90')
                | 90%
                span javascript
            article.col-md-3.col-xs-6.text-center.skill-wrap
              .chart3(data-percent='75')
                | 75%
                span html5
            article.col-md-3.col-xs-6.text-center.skill-wrap
              .chart4(data-percent='80')
                | 80%
                span nodejs
          .row.add-top.fx.fx-bounceIn.animated.bounceIn
            article.col-md-5.col-xs-6.mob-hor-full.text-left
              img.img-responsive(alt='', title='', src='/images/resume/profile.jpg')
            article.col-md-7.col-xs-6.mob-hor-full.text-left
              ul.be-social
                li
                  a(href='http://weibo.com/2126574834/profile?topnav=1&wvr=6#_rnd1430203717688' target='_blank')
                    span.next-bg-eight 关注我的微博
                li
                  a(href='http://www.cnblogs.com/wteam-xq/' target='_blank')
                    span.next-bg-two 阅读我的博客
                li
                  a(href='http://www.zhihu.com/people/xiao-qiang-85' target='_blank')
                    span.next-bg-three 访问我的知乎
                li
                  a(href='https://github.com/wteam-xq' target='_blank')
                    span.next-bg-four fork我的代码
                li
                  a(href='http://120.24.68.145:8080/threeKingdoms/' target='_blank')
                    span.next-bg-five 看看我最近上线的项目

      // PORTFOLIO : 我的项目
      section#portfolio.page-section
        section.container
          .row
            article.col-md-12.text-left
              h2.page-heading.page-heading-alt 我的项目
              .liner
                span
          .row.add-top.add-bottom
            article.col-md-12.text-left
              p.welcome-text.welcome-text-alt.fx.fx-bounceIn
                | 毕业后工作两年多，参与了一些项目，精选项目如下：
          .row.next-bg-eleven.common-pad
            article.text-left
              #item_container.clearfix
              #filter.clearfix
                #filter_wrapper
                  ul#portfolioFilter
                    li.active
                      a.all(href='http://designova.net/next/index2.html#') 所有
                    li.separator /
                    li
                      a.category1(href='http://designova.net/next/index2.html#') 中融兴项目
                    li.separator /
                    li
                      a.category2(href='http://designova.net/next/index2.html#') V企系统项目
                    li.separator /
                    li
                      a.category3(href='http://designova.net/next/index2.html#') 广发证券OTC官网项目
                    li.separator /
                    li
                      a.category4(href='http://designova.net/next/index2.html#') 个人项目
                    li.separator /
                    li
                      a.category5(href='http://designova.net/next/index2.html#') Lightbox Video
              // End: Filter
          .row
            section#portfolio-wrap.clearfix
              // Thumbnails
              #portfolio_thumbs.fx.fx-slideInLeft
                ul.sortablePortfolio.clearfix
                  // 1st thumb
                  li.simple-bg-one(data-type='category1')
                    // Thumbnail
                    a.more_info(href='http://designova.net/next/photo_item.htm')
                      img(alt='simple', title='simple', src='/resume_src/portfolio1.jpg')
                      img.rollover(alt='simple', title='simple', src='/resume_src/portfolio1_rollover.jpg')
                    // Info
                    .item_info
                      h3
                        a.more_info(href='http://designova.net/next/photo_item.htm')
                          span.next-bg-one Project TItle
                      p
                        span image slider
                  // 2nd thumb
                  li.simple-bg-two(data-type='category2')
                    // Thumbnail
                    a.more_info(href='http://designova.net/next/youtube_item.htm')
                      img(alt='simple', title='simple', src='/resume_src/portfolio2.jpg')
                      img.rollover(alt='simple', title='simple', src='/resume_src/portfolio2_rollover.jpg')
                    // Info
                    .item_info
                      h3
                        a.more_info(href='http://designova.net/next/youtube_item.htm')
                          span.next-bg-two Project TItle
                      p
                        span youtube
                  // 3rd thumb
                  li.simple-bg-three(data-type='category3')
                    // Thumbnail
                    a.more_info(href='http://designova.net/next/vimeo_item.htm')
                      img(alt='simple', title='simple', src='/resume_src/portfolio3.jpg')
                      img.rollover(alt='simple', title='simple', src='/resume_src/portfolio3_rollover.jpg')
                    // Info
                    .item_info
                      h3
                        a.more_info(href='http://designova.net/next/vimeo_item.htm')
                          span.next-bg-three Project TItle
                      p
                        span vimeo
                  // 4th thumb
                  li.simple-bg-four(data-type='category1')
                    // Thumbnail
                    a.more_info(href='http://designova.net/next/photo_item.htm')
                      img(alt='simple', title='simple', src='/resume_src/portfolio4.jpg')
                      img.rollover(alt='simple', title='simple', src='/resume_src/portfolio4_rollover.jpg')
                    // Info
                    .item_info
                      h3
                        a.more_info(href='http://designova.net/next/photo_item.htm')
                          span.next-bg-four Project TItle
                      p
                        span image slider
                  // 5th thumb
                  li.simple-bg-five(data-type='category4')
                    // Thumbnail
                    a(href='http://designova.net/next/images/portfolio_zoom/01.jpg', data-gal='prettyPhoto[gallery]')
                      img(alt='simple', title='simple', src='/resume_src/portfolio5.jpg')
                      img.rollover(alt='simple', title='simple', src='/resume_src/portfolio5_rollover.jpg')
                    // Info
                    .item_info
                      h3
                        a(href='http://designova.net/next/images/portfolio_zoom/01.jpg', data-gal='prettyPhoto[gallery]')
                          span.next-bg-five Project TItle
                      p
                        span lightbox image
                  // 6th thumb
                  li.simple-bg-six(data-type='category2')
                    // Thumbnail
                    a.more_info(href='http://designova.net/next/youtube_item.htm')
                      img(alt='simple', title='simple', src='/resume_src/portfolio6.jpg')
                      img.rollover(alt='simple', title='simple', src='/resume_src/portfolio6_rollover.jpg')
                    // Info
                    .item_info
                      h3
                        a.more_info(href='http://designova.net/next/youtube_item.htm')
                          span.next-bg-six Project TItle
                      p
                        span youtube
                  // 7th thumb
                  li.simple-bg-seven(data-type='category5')
                    // Thumbnail
                    a(href='http://www.youtube.com/watch?v=1iIZeIy7TqM', data-gal='prettyPhoto[gallery]')
                      img(alt='simple', title='simple', src='/resume_src/portfolio7.jpg')
                      img.rollover(alt='simple', title='simple', src='/resume_src/portfolio7_rollover.jpg')
                    // Info
                    .item_info
                      h3
                        a(href='http://www.youtube.com/watch?v=1iIZeIy7TqM', data-gal='prettyPhoto[gallery]')
                          span.next-bg-seven Project TItle
                      p
                        span lightbox video
                  // 8th thumb
                  li.simple-bg-eight(data-type='category1')
                    // Thumbnail
                    a.more_info(href='http://designova.net/next/photo_item.htm')
                      img(alt='simple', title='simple', src='/resume_src/portfolio8.jpg')
                      img.rollover(alt='simple', title='simple', src='/resume_src/portfolio8_rollover.jpg')
                    // Info
                    .item_info
                      h3
                        a.more_info(href='http://designova.net/next/photo_item.htm')
                          span.next-bg-eight Project TItle
                      p
                        span photography
                  // 9th thumb
                  li.simple-bg-one(data-type='category3')
                    // Thumbnail
                    a.more_info(href='http://designova.net/next/vimeo_item.htm')
                      img(alt='simple', title='simple', src='/resume_src/portfolio9.jpg')
                      img.rollover(alt='simple', title='simple', src='/resume_src/portfolio9_rollover.jpg')
                    // Info
                    .item_info
                      h3
                        a.more_info(href='http://designova.net/next/vimeo_item.htm')
                          span.next-bg-nine Project TItle
                      p
                        span vimeo
                  // 10th thumb
                  li.simple-bg-two(data-type='category2')
                    // Thumbnail
                    a.more_info(href='http://designova.net/next/youtube_item.htm')
                      img(alt='simple', title='simple', src='/resume_src/portfolio10.jpg')
                      img.rollover(alt='simple', title='simple', src='/resume_src/portfolio10_rollover.jpg')
                    // Info
                    .item_info
                      h3
                        a.more_info(href='http://designova.net/next/youtube_item.htm')
                          span.next-bg-ten Project TItle
                      p
                        span youtube
                  // 11th thumb
                  li.simple-bg-three(data-type='category1')
                    // Thumbnail
                    a.more_info(href='http://designova.net/next/photo_item.htm')
                      img(alt='simple', title='simple', src='/resume_src/portfolio11.jpg')
                      img.rollover(alt='simple', title='simple', src='/resume_src/portfolio11_rollover.jpg')
                    // Info
                    .item_info
                      h3
                        a.more_info(href='http://designova.net/next/photo_item.htm')
                          span.next-bg-eleven Project TItle
                      p
                        span photography
                  // 12th thumb
                  li.simple-bg-four(data-type='category2')
                    // Thumbnail
                    a.more_info(href='http://designova.net/next/youtube_item.htm')
                      img(alt='simple', title='simple', src='/resume_src/portfolio12.jpg')
                      img.rollover(alt='simple', title='simple', src='/resume_src/portfolio12_rollover.jpg')
                    // Info
                    .item_info
                      h3
                        a.more_info(href='http://designova.net/next/youtube_item.htm')
                          span.next-bg-twelve Project TItle
                      p
                        span youtube
              // End: Thumbnails
      
      // CONTACT : 联系方式
      section#contact.page-section
        section.container
          .row
            article.col-md-12.text-left
              h2.page-heading.page-heading-alt 留言板
              .liner
                span
          .row.add-top.add-bottom
            article.col-md-12.text-left
              p.welcome-text.welcome-text-alt.fx.fx-slideInDown
                | 欢迎留言，为了能及时回复您，请确认邮箱无误。
          .row.add-top.add-bottom
            article.col-md-12.contact-panel.fx.fx-rollIn
              .row
                article.col-md-12.text-center
                  #fname.alert.alert-error.error(style='display: none;')
                    | 名字不能为空
                  #fmail.alert.alert-error.error(style='display: none;')
                    | 请填写有效的邮箱
                  #fmsg.alert.alert-error.error(style='display: none;')
                    | 内容不能为空
              form#contactForm(name='myform', action='http://designova.net/next/sendcontact.php', enctype='multipart/form-data', method='post')
                .row.add-top-small
                  article.col-md-6
                    input#name(size='100', type='text', name='name', placeholder='姓名')
                  article.col-md-6
                    input#email(type='text', size='30', name='email', placeholder='邮箱')
                .row.add-top-small
                  article.col-md-12
                    textarea#msg(rows='3', cols='40', name='message', placeholder='内容')
                    button#submit.btn.btn-next.add-top-half(type='submit', name='submit') 立即发送
     
      // ADDRESS-PANEL : 联系地址
      section#address-panel.page-section
        section.container
          .row
            article.col-md-12.text-left
              h2.page-heading 联系我
              .liner
                span
          .row.add-top
            article.col-md-12.text-left.fx.fx-flipInX
              p.welcome-text
                | HI，我是肖志强
                br
                | 26， 软件工程专业
                br
                | 前端开发攻城师
          .row.add-top.connect.fx.fx-flipInY
            article.col-md-4.text-left
              h3 135352041XX
            article.col-md-4.text-center
              h3 857609086@qq.com
            article.col-md-4.text-right
              h3 wteamxq@163.com
          .row.add-top-half.add-bottom
            article.col-md-12.social-block.text-left
              //- 微博
              a(href='http://weibo.com/2126574834/profile?topnav=1&wvr=6#_rnd1430203717688' target="_blank")
                img(alt='next', title='微博', src='/resume_src/weibo.png')
              //- 博客园
              a(href='http://www.cnblogs.com/wteam-xq/' target='_blank')
                img(alt='next', title='博客园', src='/resume_src/bokeyuan.png')
              //- 知乎
              a(href='http://www.zhihu.com/people/xiao-qiang-85' target='_blank')
                img(alt='next', title='知乎', src='/resume_src/zhihu.png')
              //- github
              a(href='https://github.com/wteam-xq' target='_blank')
                img(alt='next', title='github', src='/resume_src/github.png')
         
      
      // QUOTES : 我的小伙伴们
      section#testimonials.page-section.next-bg-one
        section.container
          .row
            article.col-md-12.text-left.friend-talk
              h2.friend-heading 好友评价
              .friend-liner
                span
          .row
            article.col-md-12.text-left.fx.fx-flipInY
              #cbp-qtrotator.cbp-qtrotator
                .cbp-qtcontent
                  a(href='https://github.com/chenlongjian' title='陈龙坚' target='_blank')
                    img(alt='', title='', src='/resume_src/01.jpg')
                  blockquote
                    p
                      | 思想上,为人正直,稳定、谦虚.事业心、进取心强,能设身处地为他人着想,热爱集体.
                      //- | 一个具有良好专业技术水平又有高尚职业道德的优秀员工.
                    footer 陈龙坚（android开发工程师）
                .cbp-qtcontent
                  a(href='https://github.com/samlaudev' title='刘耀柱' target='_blank')
                    img(alt='', title='', src='/resume_src/02.jpg')
                  blockquote
                    p
                      | 学习上,目标明确,刻苦勤奋,有合理的知识结构,注意提高独立思考,有很好的解决实际问题能力.
                    footer 刘耀柱（IOS开发工程师）
                .cbp-qtcontent
                  a(href="https://github.com/wteam-xq3" title="古卓琪" target='_blank')
                    img(alt='', title='', src='/resume_src/03.jpg')
                  blockquote
                    p
                      | 工作上,积极肯干,责任心强,细心,独立又协同,有创新能力.
                    footer 古卓琪（游戏开发工程师）
                span.cbp-qtprogress

      // FOOTER : 网站footer
      footer#mastfoot
        section.container
          .hidden.row.foot-border
            article.col-md-12.credits.text-center
              img(alt='', title='', src='/resume_src/foot-logo.png')
              h3 Built by Wteam-xq
          .row
            article.col-md-6.credits.text-left
              p
                | Copyright © 2015. 
                br
                | All rights reserved
            article.col-md-6.foot-icons.text-right
              ul.clearfix.text-right
                li
                  //- 博客园
                  a(href='http://www.cnblogs.com/wteam-xq/' target='_blank')
                    img(alt='next', title='我的博客园', src='/resume_src/bokeyuan1.png')
                li
                  //- github
                  a(href='https://github.com/wteam-xq' target='_blank')
                    img(alt='next', title='我的github', src='/resume_src/github1.png')
    
    // mastwrap : ends
    script(src='/components/jquery.min.js', type='text/javascript')
    script(src='/components/jquery.easing.1.3.js', type='text/javascript')
    script(src='/components/bootstrap.min.js')
    script(src='/components/responsive-nav.js', type='text/javascript')
    script(src='/components/jquery.stellar.js')
    script(src='/components/prettyPhoto.js')
    script(src='/components/flexslider.js')
    script(src='/components/waypoints.min.js')
    script(src='/components/responsive-nav.js')
    script(src='/components/jquery.easy-pie-chart.js')
    //- 模块滚动插件
    script(src='/components/jquery.cbpQTRotator.js')
    script(src='/components/jquery.fittext.js')
    script(src='/javascripts/resume_front/boxgrid.js')
    script(src='/components/retina.js')
    script(src='/javascripts/resume_front/resume.js')
    script.
      $(function() {
      Boxgrid.init();
      });
    script.
    script.
      var navigation = responsiveNav("#nav", { // Selector: The ID of the wrapper
      animate: true, // Boolean: Use CSS3 transitions, true or false
      transition: 400, // Integer: Speed of the transition, in milliseconds
      label: "Menu", // String: Label for the navigation toggle
      insert: "after", // String: Insert the toggle before or after the navigation
      customToggle: "", // Selector: Specify the ID of a custom toggle
      openPos: "relative", // String: Position of the opened nav, relative or static
      jsClass: "js", // String: 'JS enabled' class which is added to <html> el
      init: function(){}, // Function: Init callback
      open: function(){}, // Function: Open callback
      close: function(){} // Function: Close callback
      });
    script.
      $( function() {
      $( '#cbp-qtrotator' ).cbpQTRotator();
      } );
